@import './variable.scss';

.total{
    display: grid;
   
    background-color: gray;
    grid-template-columns: $grid-template-columns;
    margin: 58px 20px 50px;

}
.left_nav{
    background-color: black;
    color: antiquewhite;
    position: relative;
}
.graphMiddle{
    width: 48%;
    margin: auto;
}
#my-chart.line {
    height: 200px;
    max-width: 400px;
    margin: 0 auto;
  }

.div_graph{
    border-radius: 20px;
    background-color: antiquewhite;
    margin: 0.5rem;
}

.chart1_2{
    height: 30rem;
}
.chart1_2 div canvas{
    height: 100% !important;

}
.photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px black solid;
}
.userDiv{
    display: grid;
    grid-template-columns: $grid-template-columns;

}