@import './variable.scss';
p{
    margin: 0;
}
.tableau_main{
    padding: .5rem;
}
.total{
    display: grid;
   
    background-color: gray;
    grid-template-columns: $grid-template-columns;
    margin: 58px 20px 50px;

}
.left_nav{
    background-color: black;
    color: antiquewhite;
    position: relative;
}
.graphMiddle{
    width: 48%;
    margin: auto;
}
#my-chart.line {
    height: 200px;
    max-width: 400px;
    margin: 0 auto;
  }

.div_graph{
    border-radius: 20px;
    background-color: antiquewhite;
    margin: 0.5rem;
}

.chart1_2{
    height:20rem;
}

.photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.userDiv{
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.chart-container {

    max-height: 100%; /* Limite la hauteur maximale à 100% */
  
    display: flex;
    align-items: center;
    justify-content:center ;
}
.test{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

//*******table
.margin_fix{
    margin-right: .5rem;
}
td{
   border-bottom: 1px solid green;
}
tbody tr td p{
    vertical-align: bottom;
}

  table{
    width: 100%;
  }
 .tableUser{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .5rem;
 }

 .colorStatut{
    padding: 0.5rem;
    border-radius: 15px;
    vertical-align: bottom;
    max-width:50%;
 }
 .photoUsers{
max-width: 300%;
 }

 //**********line
 .lineDiv{
    height: 20rem;
 }