@charset "UTF-8";
:export {
  blue: rgb(164, 164, 234);
  yellow: rgb(254, 254, 154);
  red: rgb(241, 148, 148);
  green: rgb(186, 237, 186);
}

p {
  margin: 0;
}

.tableau_main {
  padding: 0.5rem;
}

.left_nav {
  background-color: rgb(164, 164, 234);
  color: antiquewhite;
  border-radius: 0 15px 15px 0;
}

.graphMiddle {
  width: 48%;
  margin: auto;
}

#my-chart.line {
  height: 200px;
  max-width: 400px;
  margin: 0 auto;
}

.div_graph {
  border-radius: 20px;
  background-color: antiquewhite;
  margin: 0.5rem;
  box-shadow: 8px 9px 12px 4px rgb(179, 184, 189);
}

.chart1_2 {
  height: 20rem;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.userDiv {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chart-container {
  max-height: 100%; /* Limite la hauteur maximale à 100% */
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin_fix {
  margin-right: 0.5rem;
}

.carto {
  width: 100%;
  position: relative;
}

tbody tr td p {
  vertical-align: bottom;
}

.test {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 800px) {
  .test {
    display: flex;
    flex-direction: column;
  }
  .test .div_graph {
    width: 95%;
  }
  .contentDebut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.contentDebut {
  padding: 1.5rem;
}

.colorText, .colorIcon, .colorNumber {
  width: 50%;
}

.colorText, .colorNumber {
  height: 50%;
}

.colorIcon {
  color: rgb(164, 164, 234);
}
.colorIcon i {
  font-size: 40px;
}

.colorText {
  color: rgb(164, 164, 234);
}

table {
  width: 100%;
}
table td {
  border-bottom: 1px solid rgb(186, 237, 186);
}

.tableUser {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
}

.colorStatut {
  padding: 0.1rem;
  border-radius: 15px;
  vertical-align: bottom;
  max-width: 50%;
}

.photoUsers {
  max-width: 300%;
}

.lineDiv {
  height: 20rem;
}

h2 {
  margin-top: 3rem;
}

.userDiv {
  margin-bottom: 1rem;
}

@media screen and (min-width: 801px) {
  .headerNav {
    display: none;
  }
  .total {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin: 58px 20px 50px;
  }
  .left_nav {
    color: antiquewhite;
    position: relative;
  }
}
@media screen and (max-width: 800px) {
  .total {
    display: flex;
  }
  .tableau_main {
    width: 100%;
  }
  .graphMiddle {
    width: 90%;
    height: auto;
  }
  .tableUser {
    display: flex;
  }
  .users {
    width: 90%;
    margin: auto;
  }
  .root {
    width: 100%;
  }
  .total {
    width: 100%;
    padding: 0;
    margin: 5rem 0 0 0;
  }
  #menuContent.showMenu {
    display: flex !important;
    left: 0;
    visibility: visible;
    width: 70px;
    height: 100%;
    justify-content: center;
    border-radius: 0 15px 15px 0;
  }
  .left_nav {
    visibility: hidden;
    left: -150px;
    transition: left 0.5s ease;
    position: absolute;
    /*

    border: 1px solid red;
    */
    height: 100vh;
    z-index: 99;
  }
  #burger1::before,
  #burger1::after {
    content: "";
    width: 20px;
    /* margin-top: 1rem; */
    height: 3px;
    background: rgb(214, 179, 133);
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease;
  }
  #burger1::before {
    top: -7px;
    /* margin-bottom: 2rem;/ */
    margin-top: 1px;
  }
  #burger1::after {
    top: 7px;
  }
  #burger1.opene {
    background: transparent;
  }
  #burger1.opene::before {
    transform: rotate(45deg);
    top: 0;
  }
  #burger1.opene::after {
    transform: rotate(-45deg);
    top: 0;
  }
  #link {
    display: flex;
    color: rgb(222, 50, 50);
    padding: 1rem;
    position: absolute;
    top: 0;
    margin-top: 1.2rem;
    margin-right: 1rem;
    z-index: 100;
    position: absolute;
    /*

    border: solid 1px greenyellow;
    */
  }
  #burger1 {
    width: 20px;
    margin-top: 5px;
    height: 3px;
    background: rgb(212, 90, 14);
    display: inline-block;
    position: relative;
  }
}
:export {
  blue: rgb(164, 164, 234);
  yellow: rgb(254, 254, 154);
  red: rgb(241, 148, 148);
  green: rgb(186, 237, 186);
}

.icon {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon:hover {
  background-color: rgb(27, 76, 76);
}

* {
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=App.css.map */
